@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 35 29% 95%;
    --foreground: 217 33% 17%;
    --card: 0 0% 100%;
    --card-foreground: 217 33% 17%;
    --popover: 0 0% 100%;
    --popover-foreground: 217 33% 17%;
    --primary: 200 97% 48%;
    --primary-foreground: 0 0% 100%;
    --secondary: 217 33% 17%;
    --secondary-foreground: 0 0% 100%;
    --muted: 35 29% 95%;
    --muted-foreground: 217 33% 17%;
    --accent: 262 89% 66%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 0%;
    --input: 217 33% 17%;
    --ring: 262 89% 66%;
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-black/5;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

@layer utilities {
  .transition-width {
    transition-property: width;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 600ms;
  }
}